.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button {
  padding: 1rem 3rem;
  min-width: 200px;
  border: 1px solid #56c4e2;
  border-radius: 3rem;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 4px 15px rgba(0,0,0,.1);
  background-color: #61dafb;

  &:focus {
    outline: none;
  }
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  &.og-button-section {
    background-color: pink;
  }

  &.state-button-section {
    background-color: orange;
  }

  &.lifecycle-section {
    background-color: aqua;
  }
}